<section>

    <h2>{{title}}</h2>
    <p>{{description}}</p>

    {{# options}}
        <div class="option">
            <div class="head">
                <h3>{{title}}</h3>
                <p>{{description}}<p>
            </div>
            <div class = "body">
                {{# assigns}}
                    <div class="assign">
                        <div class="user">{{#user}}{{name}} {{surname}}{{/user}}</div>
                        <div class="comment">{{comment}}</div>
                    </div>
                {{/ assigns}}
                {{# is_editable}}
                    <button>zgłoś się!</button>
                {{/ is_editable}}
            </div>
        </div>
    {{/ options}}

</section>